<!DOCTYPE html>
<html>
<header>
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <img src="img/codea-logo.png" id="logo">
</header>

<body>

<!-- <h4 id="title">&#60; ALUX´S ARCADE RAYUELA &#62;</h4> -->
<br><br><br><br>
<!-- <h2 id='enter'>¡LET´S PLAY RAYUELA!</h2> -->
<form action="/init" method='get'>
  <input id='enter' type="submit" value="¡LET´S PLAY ARCADE-RAYUELA!">
</form>

<br><br><br>

</body>
</html>