<!DOCTYPE html>
<html>
<header>

  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <img src="img/codea-logo.png" id="logo">

</header>

<body>

  <br><br>

<h4 id="title">&#60; WELCOME &#62;</h4>

<table class='info'>
  <tr>
    <th><h5 id="count">LOGIN YOUR PLAYERS:</h5></th>
  </tr>
</table>

<div id='form'>
  <form id='f_login' action='/play' method='get' autocomplete='off'>
    <label>PLAYER 1:</label>
    <input name='p1' type='text' autocomplete='off' placeholder='type your player one...' size="70">
<p></p>
    <label>PLAYER 2:</label>
    <input name='p2' type='text' autocomplete='off' placeholder='type your player two...' size="70">
<br>
<br>
<br>
  <input id='galaga_ship' type="image" src="https://cdn4.iconfinder.com/data/icons/simply-8-bits-4/96/galaga_ship.png" alt="Submit" width="48" height="48">  
  </form>
  
</div>

</body>
</html>